<div id="info-box-container" class="info-box-container hidden">
  <div class="info-box-transform-container ui-container">
    <div class="info-box ui-card">
      <div class="info-box-header">
        <div class="info-box-tabs">
          <div class="info-box-tab">
            <input type="radio" id="info-box-tab-1" value="1" name="info-box-tabs" checked />
            <label for="info-box-tab-1">About OverMap</label>
          </div>
          <div class="info-box-tab">
            <input type="radio" id="info-box-tab-2" value="2" name="info-box-tabs" />
            <label for="info-box-tab-2">About Me</label>
          </div>
          <div class="info-box-tab">
            <input type="radio" id="info-box-tab-3" value="3" name="info-box-tabs" />
            <label for="info-box-tab-3">Privacy & License</label>
          </div>
        </div>
        <div class="info-box-close">
          <button id="info-box-close-button">&times;</button>
        </div>
      </div>
      <div class="info-box-items">
        <section id="info-box-item-1" class="info-box-item selected">
          <div class="overmap-logo img">
            <img src="../img/overmap-logo-black.svg" alt="OverMap logo" height="50" />
          </div>
          <p>OverMap was born out of a love for cities and walking around them. Every city has a character that is defined by its various physical attributes. The width of sidewalks, the size of pedestrian crossings, the angles at intersections, the length of city blocks—all these attributes combine to create a unique impression of a city when you're moving around it.</p>
          <p>OverMap is a project to compare cities by these attributes. I've occasionally pulled out Google Maps and resized browser windows side-by-side to try to get a sense for these physical attributes, but it never gave me the satisfaction I imagined you'd get from pulling out two physical maps and laying them on top of each other. I wanted to get a true sense for comparing the geometry of two places. How do Chicago city blocks compare to New York ones? Was does a dense European city look like when overlaid on a sprawling American one? So I made OverMap.</p>
          <p>I also wanted a fun coding project, and this website presented plenty of little challenges that I really enjoyed. Hopefully this site brings you a little joy too.</p>
          <h2>Acknowledgements</h2>
          <ul>
            <li>This website is built entirely with vanilla HTML, CSS, and JavaScript. No frameworks! Shout out to Tania Rascia's blog post <a href="https://www.taniarascia.com/javascript-mvc-todo-app/">Writing a Simple MVC App in Plain JavaScript</a>, which shaped my thinking for much of this project.</li>
            <li>The maps and search fields on this site are provided by the Google via their <a href="https://developers.google.com/maps/documentation/javascript/tutorial">Maps JavaScript API</a>. I chose Google for this project instead of open source alternatives because Google's APIs are a pleasure to work with and still allowed me to complete this project without financial costs.</li>
            <li>The grayscale map color scheme is by Kees Plattel on <a href="https://snazzymaps.com/style/287755/grayscale-style">Snazzy Maps</a>.</li>
          </ul>
        </section>
        <section id="info-box-item-2" class="info-box-item">
          <div class="adam-profile img">
            <img src="../img/adam.jpg" height="100" />
          </div>
          <p>Hi! I'm Adam. I make software for non-profit organizations at Neon One. Among other things, I'm a University of Chicago alum, 🇫🇷🇮🇪🇺🇸, and a proud Chicagoan.</p>
          <p>When I'm not building niche map apps, I also enjoy creative writing, travel, aviation, and all kinds of spreadsheets.</p>
          <p class="highlight-link"><a href="https://adammarcstevenson.com">adammarcstevenson.com</a></p>
        </section>
        <section id="info-box-item-3" class="info-box-item">
          <h2>Privacy</h2>
          <ul>
            <li>This website is hosted on <a href="https://firebase.google.com/">Firebase</a> but built to run locally in your browser, so no data is ever sent to the server.</li>
            <li>Your last used settings on this website are all stored locally. You can erase this data by clearing local data for this site.</li>
            <li>This website uses Google Analytics to record basic visitor data. <a href="https://support.google.com/analytics/answer/6004245?ref_topic=2919631">Learn more</a>.</li>
          </ul>
          <h2>MIT License</h2>
          <p>Copyright (c) 2020 Adam Stevenson</p>
          <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
          <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
        </section>
      </div>
      <footer>
        <p>&copy; 2020 Adam Stevenson</p>
      </footer>
    </div>
  </div>
</div>