/* 
 * Info Icon
 */
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: #011d29;
  border-radius: 50%;
  font-family: monospace;
  font-size: 2em;
  overflow: hidden;
  transition: 0.2s background-color;

}.info-icon:hover {
  background-color: #1b3743;
}
.info-icon button {
  width: 75%;
  height: 75%;
  padding: 0;
  background-color: transparent;
  border: 2px solid;
  border-radius: 50%;
  color: #fff;
}
.info-icon button:focus {
  outline: none;
}

/* 
 * Info Box Container
 */
.info-box-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  pointer-events: auto;
  transition: 0.2s background-color;
}

/*
 * Transition Styles
 */
.info-box-container.hidden,
.info-box-container.hidden > * {
  display: none;
}
.info-box-container.transition--before-show {
  display: block;
  background-color: transparent;
}
.info-box-transform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.info-box-transform-container {
  transition: 0.2s transform linear;
}
.transition--before-show .info-box-transform-container {
  transform: translateY(100%);
}

/*
 * Info Box
 */
.info-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  overflow: hidden;
}
.info-box-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #969696;
}
.info-box-tab {
  display: inline-block;
}
.info-box-tab label {
  display: inline-block;
  padding: 20px 25px 12px;
}
.info-box-tab input {
  display: none;
}
.info-box-tab input:checked ~ label {
  margin-bottom: -1px;
  border-bottom: 3px solid #2196f3;
  color: #2196f3;
}
.info-box-close {
  display: flex;
  align-items: center;
}
.info-box-close button {
  margin-right: 15px;
  padding: 2px 5px;
  background-color: inherit;
  border: none;
  font-size: 20px;
}
.info-box-items {
  flex: 1;
  overflow-y: scroll;
}
.info-box-item {
  display: none;
  padding: 20px 30px;
}
.info-box-item.selected {
  display: block;
}
.info-box-item .img {
  text-align: center;
}
.info-box-item .adam-profile img {
  border: 1px solid #969696;
  border-radius: 50%;
}
.info-box footer {
  box-shadow: 0px -1px 15px 5px #fff;
  font-size: 0.8em;
  text-align: center;
  z-index: 4;
}
.highlight-link {
  margin: 1.5em;
  text-align: center;
}

/*
 * Generic Components
 */
ul {
  padding-left: 2em;
  list-style: square;
}
ul > li {
  margin-bottom: 1em;
}
.highlight-link a {
  font-size: 1.1em;
}